<div class="form-container">
    <h1 [innerHTML]="h2text"></h1>
    <div>
        <span>🌚 Никнейм (необязательно)</span>
        <input [(ngModel)]="nickname" type="text" placeholder="ChunChunMaru">
    </div>
    <div>
        <span>🤙 Номер телефона *</span>
        <input [style.border]="!phonenumber ? '1px solid red' : ''" [(ngModel)]="phonenumber"  type="tel" placeholder="+375 (29) и бла-бла-бла">
    </div>
    <div>
        <span>📧 Электронная почта (необязательно, если указан телефон)</span>
        <input  [style.border]="!phonenumber && !email ? '1px solid red' : ''" [(ngModel)]="email" type="email" placeholder="что-то там с gmail или email">
    </div>

    <button (click)="logging()">
        Отправить
    </button>
</div>