<div class="form-container">
    <h1 [innerHTML]="h2text"></h1>
    <div>
        <span>🌚 Nickname (optional)</span>
        <input [(ngModel)]="nickname" type="text" placeholder="ChunChunMaru">
    </div>
    <div>
        <span>🤙 Phone number *</span>
        <input [style.border]="!phonenumber ? '1px solid red' : ''" [(ngModel)]="phonenumber" type="tel"
            placeholder="+375 (29) and blah blah blah">
    </div>
    <div>
        <span>📧 Email (optional if phone number is provided)</span>
        <input [style.border]="!phonenumber && !email ? '1px solid red' : ''" [(ngModel)]="email" type="email"
            placeholder="something with gmail or email">
    </div>
    <span><img src='userpfp/{{pfpnumber}}.jpg' alt=""><button (click)="Changepfp()">change a pfp</button></span>
    <button (click)="logging()">
        confirm
    </button>
</div>