<div class="window">
<app-settings  [class.closing]="settings === false" [class.opening]="settings === true" (closing)="doclosingsettings($event)"></app-settings>
<app-newcontact [class.closing]="newcontact === false" [class.opening]="newcontact === true"  (closing)="doclosingnewcontact($event)"></app-newcontact>
    <div class="chat-list">
        <span class="addcontact"  (click)="newcontact = true"><img src="svg/chatlist/newcontact.svg" alt=""></span>
        <div>
            <h2 (click)="settings =  true">⚙</h2>
            <p [style.display]="searching ? 'none' : 'block' ">Contacts</p>
            <input placeholder="Search a contact" [style.display]="searching ? 'block' : 'none'" type="text">
            <h2 (click)="searching = !searching">🔍</h2>
        </div>
        <div class="chat-item" *ngFor="let chat of chatsarray; let i = index" (mouseenter)="mouseenter = i" (mouseleave)="mouseenter = -1">
            <a [routerLink]="['/user', i]">
                <img src="contactspfp/{{i}}.jpg" alt="">
                <h3>{{chat.name}}</h3>
                <p>{{chat.time ? chat.time : 'online'}}</p>
            </a>
        <button [style.display]="mouseenter == i ? 'block' : 'none'">ldfg</button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div> 