.chatwindow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-inline: 200px;

    >div:not(div:last-of-type) {
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-bottom: 25px;
        gap: 15px;
        width: max-content;

        img {
            object-fit: cover;
            border-radius: 100%;
            height: 2.5em;
            width: 2.5em;
            vertical-align: middle;
        }

        >button {
            background-color: #0D1B2A;
            border-radius: 10px;
            padding: 6px;

            >img {
                border-radius: 0;
                width: 1.5em;
                height: 1.5em;
            }
        }
    }

    .sendermessage {
        padding: 12px;
        border-radius: 20px 20px 20px 0;
        background: #415A77;
    }

    .usersmessage {
        align-self: flex-end;
        flex-direction: row-reverse !important;

        >div {
            padding: 12px;
            border-radius: 20px 20px 0 20px;
            background-color: #0D1B2A;
        }
    }

    >div:last-of-type {
        width: 100%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .editplace {
            background: linear-gradient(to bottom, #415A77 0%, transparent 100%);
            border-radius: 20px 20px 0 0;
            padding-block: 20px;
            position: relative;

            >h2 {
                color: white;
                justify-self: flex-end;
                position: absolute;
                right: 20px; 

                &:hover{
                    cursor: pointer;
                }
            }

            >img {
                margin-left: 20px;
            }

            >span {
                color: white;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        >span {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            width: 100%;
            gap: 20px;



            >input {
                font-size: 1em;
                line-height: 1.4;
                color: #212529;
                padding: 12px;
                width: 100%;
                border-radius: 15px;
            }

            button {
                font-size: 1em;
                line-height: 1.4;
                color: #212529;
                padding: 12px;
                text-wrap: nowrap;
                border-radius: 15px;
            }
        }
    }


    .message {

        position: relative;

        &.received {

            .message-header {
                .sender {
                    color: #e9ecef;
                    font-weight: bold;
                    margin-right: 8px;
                }

                .time {
                    margin-right: 8px;
                    opacity: 0.8;
                    font-size: 0.8em;
                    color: #ffd6ff;
                }

                .status {
                    color: #4fc3f7;
                    font-size: 0.8em;
                }
            }

            .message-content {
                font-size: 1em;
                line-height: 1.4;
                word-wrap: break-word;
                color: #f8f9fa;
            }
        }
    }

}