<div class="chatwindow">
  <div *ngFor="let message of messages; let i = index"
    [class.usersmessage]="message.sender == 'user' || message.sender == nickname">

    <img
      [src]="message.sender == 'user' || message.sender == nickname ? 'userpfp/' + pfpnumber + '.jpg' : 'contactspfp/' + userId + '.jpg'"
      alt="">
    <div class="message received" [class.sendermessage]="message.sender != 'user' && message.sender != nickname">
      <div class="message-header">
        <span class="sender" [innerHTML]="message.sender == 'user' ? nickname : message.sender"></span>
        <span class="time" [innerHTML]="message.time"></span>
        <span class="status" [innerHTML]="message.status ? '✔' : ''"></span>
      </div>
      <div class="message-content" [innerHTML]="message.message">
      </div>
    </div>
    <button *ngIf="message.sender == 'user' || message.sender == nickname" aria-label="deletemessage"
      (click)="deletemessage(i)"><img src="svg/chatlist/deletechat.svg" alt=""></button>
    <button *ngIf="message.sender == 'user' || message.sender == nickname" aria-label="editmessage"
      (click)="editmessage(i)"><img src="svg/chat/editmessage.svg" alt=""></button>
  </div>

  <div> 
    <span class="editplace" *ngIf="edittext">
      <img src="svg/chat/editmessage.svg" alt="">
      <span><h3>Editing</h3>
      <p>{{edittext}}</p></span>
      <h2 (click)="removeediting()">✖</h2>
    </span>
    <span>
      <input [(ngModel)]="messagetext" type="text" placeholder="enter a message" name="" id=""> <button aria-label="editing-sending" [innerHTML]="edittext ? 'edit message' : 'send message' "
        (click)="edittext ? sendediting() : sendmessage()"></button>
    </span>
  </div>
</div>